a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

footer {
  background-color: #2b4064;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
